{% extends 'base.html' %} {% block title %} update Departement {% endblock %} {%
    block page_content %}
    <br />
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <h4 class="mb-3">Update Departement</h4>
        <form method="POST">
          {{ form.hidden_tag() }}
    
          <div class="form-group text">
            <label class="form-label" for="name">Departement</label>
            {{
            form.name(class="form-control",placeholder="name",value=departement.name)
            }}
          </div>
          <br />
          <a href="{{url_for('departement.display_departements')}}" class="btn btn-secondary btn-sm">Close</a>
    
          {{ form.submit(class="btn btn-primary btn-sm") }}
        </form>
      </div>
    </div>
    {% endblock %}