{% extends "base.html" %}
{% block title %} register {% endblock %}
{% block page_content %}

<!-- modal body -->
<br>
<div class="row d-flex justify-content-center ">
    <div class="col-md-9">
        <div class="card shadow-sm">
            <h5 class="card-header">Update User</h5>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="p-4">
                        <div class="form-group text">
                            <label class="form-label" for="username">Username:</label>
                            {{
                            form.username(class="form-control",placeholder="username",value=user.username,disabled="disabled")
                            }}
                        </div>
    
                        <div class="form-group text">
                            <label class="form-label" for="nom">Nom:</label>
                            {{ form.nom(class="form-control text-capitalize"
                            ,placeholder="nom",value=user.nom ) }}
                        </div>
    
                        <div class="form-group text">
                            <label class="form-label" for="prenom">Prenom:</label>
                            {{ form.prenom(class="form-control text-capitalize"
                            ,placeholder="prenom",value=user.prenom) }}
                        </div>
    
                        <div class="form-group text">
                            <label class="form-label" for="user_role">User Role:</label>
                            {{ form.user_role(class="form-select",value=user.role)}}
                        </div>
    
                        <br>
                        <a href="{{url_for('auth.display_users')}}" class="btn btn-secondary btn-sm">Close</a>
    
                        {{ form.submit(class="btn btn-primary btn-sm") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var selectElement = function(id,valueToSelect){
        var element = document.getElementById(id)
        element.value=valueToSelect
    }
    selectElement('user_role','{{user.role.name}}')
</script>
{% endblock %}